<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).fadeOut("slow");
  $('.js-comments-count-users').html("<%= @comment.user.comments.count %> Comments");
  $('.js-comments-count').html("<%= @post.comments.count %> Comments");
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>